[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pdfquery = "*"
six = "*"
pdfplumber = "*"
pandas = "*"
babel = "*"
tabula-py = "*"
jpype1 = "*"

[dev-packages]

[requires]
python_version = "3.11"
